.pn-list {
  background: $color_white;
  border: 1px solid $color_green;
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    background: $color_white;
    color: $color_black;
    height: 60px;
    line-height: 60px;

    &:hover {
      background: $color_green_lite;
    }
  }
}
